```gitignore
# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DJANGO
# =========================

db.sqlite3
media/
staticfiles/

# =========================
# ENVIRONNEMENT
# =========================

.env
.env.*
venv/
env/

# =========================
# NODE
# =========================

node_modules/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
```
